*{
    padding: 0px; 
    margin: Opx; 
    font-family: sans-serif; 
    box-sizing: border-box;
}
header{
    background-color:#CCCCCC;
    min-height: 7px; 
    padding: 15px;
}
main{
    background-color: #dddddd; 
    min-height: 300px; 
    padding: 7.5px 15px;
}
.container{
    width: 100%; 
    max-width: 120px; 
    margin-left: auto; 
    margin-right: auto;
}
.login-form{
    height: 246px;
    width: 300px;
    margin: 20px auto; 
    background-color: #ffffff; 
    padding: 15px; 
    border: 2px dotted #CCCCCC; 
    border-radius: 10px;
}
h1{
    color: #009999; 
    font-size: 60px; 
    margin-bottom: 30px;
}
h2{
    color: #009999; 
    font-size: 20px; 
    margin-bottom: 30px;
}
.input-box{
margin-bottom: 10px;
}

